.newToDo {
  margin: 2rem auto;
  border-radius: 12px;
  text-align: center;
}

.newToDo button {
  font-size: 1.3em;
  padding: 1rem 2rem;
  border: 1px solid #4099ff;
  background-color: #4099ff;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.newToDo button:hover,
.newToDo button:active {
  background-color: #4099ff;
  border-color: #4099ff;
}

.newToDo button.alternative {
  color: #4099ff;
  border-color: transparent;
  background-color: transparent;
}

.newToDo button.alternative:hover,
.newToDo button.alternative:active {
  background-color: #4099ff;
}
