.registerPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url("../Auth/images/3d-grunge-room-interior-with-spotlight-smoky-atmosphere-background.jpg");
}

.loginBtn {
  width: 100%;
  margin-top: 2em;
}
